@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');


table{
    background-color: lightcoral;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}

.num{
    background-color: peachpuff;
    color: black;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    text-align: center;
    padding-top: 3px;

}
.point{
    background-color: peachpuff;
    color: black;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    text-align: center;
    padding-top: 3px;

}

.clear{
    background-color: lightseagreen;
    color: black;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    text-align: center;
    padding-top: 3px;  
}
.op{
    background-color: skyblue;
    color: black;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    text-align: center;
    padding-top: 3px;  
}
.display{
    text-align: right;
    width: 241px;
    background-color: lightcoral;
    font-size: 25px;
}